<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova_plugin_Nova_copilot" version="0.0.1">
    <name>Nova_copilot</name>
    <js-module name="Nova_copilot" src="www/Nova_copilot.js">
        <clobbers target="cordova.plugins.Nova_copilot" />
    </js-module>
    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Nova_copilot">
                <param name="android-package" value="cordova_plugin_Nova_copilot.Nova_copilot" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" >
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

            <application android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:supportsRtl="true">
                <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode" android:exported="true" android:label="@string/activity_name" android:launchMode="singleTop" android:name="MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar" android:windowSoftInputMode="adjustResize">
                    <intent-filter android:label="@string/launcher_name">
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>
                <receiver android:name="cordova_plugin_Nova_copilot.ZendriveSdkBroadcastReceiver">
                    <intent-filter>
                        <action android:name="cordova_plugin_Nova_copilot.EVENT_CHANNEL" />
                    </intent-filter>
                </receiver>
            </application>
        </config-file >



        <source-file src="src/android/Nova_copilot.java" target-dir="src/cordova_plugin_Nova_copilot/Nova_copilot" />
        <source-file src="src/android/ZendriveSdkBroadcastReceiver.java" target-dir="src/cordova_plugin_Nova_copilot/Nova_copilot" />
        <source-file src="src/android/ZendriveSdkNotificationProvider.java" target-dir="src/cordova_plugin_Nova_copilot/Nova_copilot" />
        <source-file src="src/android/Constants.java" target-dir="src/cordova_plugin_Nova_copilot/Nova_copilot" />
        <source-file src="src/android/NotificationUtility.java" target-dir="src/cordova_plugin_Nova_copilot/Nova_copilot" />
        <source-file src="src/android/CollisionDetectedActivity.java" target-dir="src/cordova_plugin_Nova_copilot/Nova_copilot" />
        <source-file src="src/android/SplashActivity.java" target-dir="src/cordova_plugin_Nova_copilot/Nova_copilot" />
        <source-file src="src/android/SharedPreferenceManager.java" target-dir="src/cordova_plugin_Nova_copilot/Nova_copilot" />

    </platform>

    <framework src="src/build.gradle" custom="true" type="gradleReference" />
</plugin>

